<mat-drawer-container>
  <mat-drawer sidePanel #sidePanel panelTitle="Side panel title" [actions]="sidePanelActions">
    Content
  </mat-drawer>

  <mat-drawer-content>
    <div class="well" cdkScrollable>
      <button #backToTopButton mat-fab color="primary" class="scroll-to-top hidden-button"
              matTooltip="Scroll back to top" (click)="scrollTop()">
        <em class="fa fa-arrow-up"></em>
      </button>

      <h2 class="mat-h2">Navigation</h2>

      <ul>
        <li>
          <a mat-flat-button (click)="scroll('#ready');"><em class="fa fa-arrow-down"></em> Ready components</a>
        </li>
        <li>
          <a mat-flat-button (click)="scroll('#awaiting-approval');"><em class="fa fa-arrow-down"></em> In
            progress components</a>
        </li>
      </ul>

      <h2 class="mat-h2" id="ready">Ready components</h2>

      <h3 class="mat-h3">Switch</h3>

      <p>
        <mat-slide-toggle [(ngModel)]="toggleValue">
          Primary
        </mat-slide-toggle>

        <mat-slide-toggle disabled [(ngModel)]="toggleValue">
          Disabled
        </mat-slide-toggle>
      </p>

      <h3 class="mat-h3">Checkbox</h3>

      <p>
        <mat-checkbox [(ngModel)]="checked">
          I'm a checkbox
        </mat-checkbox>

        <mat-checkbox [disabled]="true" [(ngModel)]="checked">
          I'm a disabled checkbox
        </mat-checkbox>

        <mat-checkbox [(ngModel)]="checkedIndeterminate" [indeterminate]="true">
          I'm a indeterminate checkbox
        </mat-checkbox>
      </p>

      <h3 class="mat-h3">Radio</h3>

      <p>
        <label id="example-radio-group-label">Pick your favorite season</label>
        <mat-radio-group
          aria-labelledby="example-radio-group-label"
          class="example-radio-group"
          [(ngModel)]="favoriteSeason">
          <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
            {{season}}
          </mat-radio-button>
        </mat-radio-group>
        <span>Your favorite season is: {{favoriteSeason}}</span>
      </p>

      <p>
        <mat-radio-button [disabled]="true">
          Disabled radio
        </mat-radio-button>

        <mat-radio-button [disabled]="true" [checked]="true">
          Disabled radio
        </mat-radio-button>
      </p>

      <h3 class="mat-h3">Toggle button</h3>

      <p>
        <mat-button-toggle-group #group="matButtonToggleGroup">
          <mat-button-toggle value="one" aria-label="Text align left">
            One
          </mat-button-toggle>
          <mat-button-toggle value="two" aria-label="Text align center">
            Two
          </mat-button-toggle>
          <mat-button-toggle value="three" aria-label="Text align right" [disabled]="true">
            Disabled
          </mat-button-toggle>
        </mat-button-toggle-group>

        <span class="example-selected-value">Selected value: <b>{{group.value}}</b></span>
      </p>

      <h3 class="mat-h3">Buttons</h3>

      <h5 class="mat-h5">Primary</h5>

      <p>
        <button mat-flat-button [color]="'primary'"><em class="fa fa-plus"></em> Add item</button>

        <button mat-flat-button [color]="'primary'" disabled>Disabled</button>
        <button mat-flat-button [color]="'primary'">Large</button>
        <button mat-flat-button [color]="'primary'" class="medium">Medium</button>
        <button mat-flat-button [color]="'primary'" class="small">Small</button>

        <button mat-flat-button [color]="'primary'" class="small"><em class="fa fa-plus"></em> Add item</button>
      </p>

      <h5 class="mat-h5">Secondary (borderless version)</h5>

      <p>
        <button mat-flat-button><em class="fa fa-backward"></em> Go back</button>

        <button mat-flat-button disabled>Disabled</button>
        <button mat-flat-button>Large</button>
        <button mat-flat-button class="medium">Medium</button>
        <button mat-flat-button class="small">Small</button>

        <button mat-flat-button class="small"><em class="fa fa-backward"></em> Go back</button>
      </p>

      <h5 class="mat-h5">Secondary</h5>

      <p>
        <button mat-flat-button class="secondary"><em class="fa fa-ellipsis-v"></em> Actions</button>

        <button mat-flat-button class="secondary" disabled>Disabled</button>
        <button mat-flat-button class="secondary">Large</button>
        <button mat-flat-button class="medium secondary">Medium</button>
        <button mat-flat-button class="small secondary">Small</button>

        <button mat-flat-button class="small secondary"><em class="fa fa-ellipsis-v"></em> Actions</button>
      </p>

      <h5 class="mat-h5">Tertiary</h5>

      <p>
        <button mat-flat-button [color]="'tertiary'"><em class="fa fa-minus"></em> Cancel</button>

        <button mat-flat-button disabled [color]="'tertiary'">Disabled</button>
        <button mat-flat-button [color]="'tertiary'">Large</button>
        <button mat-flat-button [color]="'tertiary'" class="medium">Medium</button>
        <button mat-flat-button [color]="'tertiary'" class="small">Small</button>

        <button mat-flat-button [color]="'tertiary'" class="small"><em class="fa fa-minus"></em> Cancel</button>
      </p>

      <h5 class="mat-h5">Destructive</h5>

      <p>
        <button mat-flat-button [color]="'warn'"><em class="fa fa-trash"></em> Delete</button>
        <button mat-flat-button [color]="'warn'">Delete <em class="fa fa-trash end"></em></button>
        <button mat-flat-button [color]="'warn'" disabled>Disabled</button>
        <button mat-flat-button [color]="'warn'">Large</button>
        <button mat-flat-button [color]="'warn'" class="medium">Medium</button>
        <button mat-flat-button [color]="'warn'" class="medium"><em class="fa fa-trash"></em> Medium</button>
        <button mat-flat-button [color]="'warn'" class="medium">Medium <em class="fa fa-trash end"></em></button>

        <button mat-flat-button [color]="'warn'" class="small">Small</button>

        <button mat-flat-button [color]="'warn'" class="small"><em class="fa fa-trash"></em> Delete</button>
        <button mat-flat-button [color]="'warn'" class="small">Delete <em class="fa fa-trash end"></em></button>
      </p>

      <h5 class="mat-h5">Icon-buttons</h5>

      <p>
        <button mat-fab [color]="'primary'"><em class="fa fa-trash"></em></button>
        <button mat-fab [color]="'warn'"><em class="fa fa-trash"></em></button>
        <button mat-fab><em class="fa fa-trash"></em></button>
        <button mat-fab [color]="'tertiary'"><em class="fa fa-trash"></em></button>

        <button mat-mini-fab [color]="'warn'"><em class="fa fa-trash"></em></button>
      </p>

      <h5 class="mat-h5">Tertiary</h5>

      <p>
        <button disabled mat-fab [color]="'primary'"><em class="fa fa-trash"></em></button>
        <button disabled mat-fab [color]="'warn'"><em class="fa fa-trash"></em></button>
        <button disabled mat-fab><em class="fa fa-trash"></em></button>
        <button disabled mat-fab [color]="'tertiary'"><em class="fa fa-trash"></em></button>
      </p>

      <h3 class="mat-h3">Card</h3>

      <mat-card class="example-card">

        <mat-card-header>
          <mat-card-title>Title</mat-card-title>
          <mat-card-subtitle>Subtitle</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>

        <mat-card-actions>
          <button mat-flat-button color="warn" class="medium"><em class="fa fa-trash"></em> Delete</button>
          <button mat-flat-button color="primary" class="medium"><em class="fa fa-pencil"></em> Edit</button>
        </mat-card-actions>

      </mat-card>

      <mat-card class="example-card">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>

        <mat-card-actions>
          <button mat-flat-button color="warn" class="medium"><em class="fa fa-trash"></em> Delete</button>
          <button mat-flat-button color="primary" class="medium"><em class="fa fa-pencil"></em> Edit</button>
        </mat-card-actions>

      </mat-card>

      <mat-card class="example-card" tabindex="0">
        <mat-card-header>
          <mat-card-title>Informational card</mat-card-title>
          <mat-card-subtitle>Short items overview</mat-card-subtitle>

          <button mat-fab [matMenuTriggerFor]="animals"><em class="fa fa-ellipsis-v"></em></button>
        </mat-card-header>

        <mat-card-content>
          <p>
            <badge color="accent"><em class="fa fa-check"></em> Positive</badge>
          </p>

          <p>
            Hover to see box-shadow
          </p>

          <p>
            <mat-card-title>Item ID</mat-card-title>
          </p>

          <p>
            Item information #2
          </p>
        </mat-card-content>

        <mat-card-footer>
          Footer text
        </mat-card-footer>

      </mat-card>

      <br/><br/>

      <h3 class="mat-h3">Badges</h3>

      <p>
        <button mat-flat-button color="primary" matBadge="7" [matBadgeHidden]="hidden"
                (click)="hidden = !hidden">
          Floating badge toggle
        </button>

        <button mat-flat-button color="warn" matBadgeColor="accent" matBadge="7" [matBadgeHidden]="hidden"
                (click)="hidden = !hidden">
          Floating badge toggle
        </button>

        <button mat-flat-button matBadgeColor="warn" matBadge="7" [matBadgeHidden]="hidden"
                (click)="hidden = !hidden">
          Floating badge toggle
        </button>

        <button mat-flat-button color="tertiary" matBadgeColor="negative" matBadge="7" [matBadgeHidden]="hidden"
                (click)="hidden = !hidden">
          Floating badge toggle
        </button>
      </p>

      <p>
        <mat-form-field>
          <mat-label>Select badge type</mat-label>
          <mat-select [formControl]="badgeTypeSelect">
            <mat-option value="accent">accent</mat-option>
            <mat-option value="warn">warn</mat-option>
            <mat-option value="negative">negative</mat-option>
            <mat-option value="primary">primary</mat-option>
          </mat-select>
        </mat-form-field>

        <badge [color]="badgeTypeSelect.value"><em class="fa fa-check"></em> Dynamic color with icon</badge>

        <badge [color]="badgeTypeSelect.value">50</badge>

        <badge [color]="badgeTypeSelect.value"><em class="fa fa-check"></em></badge>
      </p>

      <p>
        <badge>primary</badge>

        <badge [color]="'accent'">positive</badge>

        <badge [color]="'warn'">warning</badge>

        <badge [color]="'negative'">negative</badge>
      </p>

      <h3 class="mat-h3">Menu / dropdownmenu / contextmenu</h3>

      <p>
        <button mat-button [matMenuTriggerFor]="animals">Dropdown menu</button>

        <button mat-button [matMenuTriggerFor]="titledMenu">Dropdown menu with title</button>
      </p>

      <h3 class="mat-h3">Navigation (Secondary)</h3>

      <mat-sidenav-container class="example-side-nav">
        <mat-sidenav lwSidenav (itemActivated)="changeView($event);">

          <side-nav-header [title]="'User Management'">
            <badge color="accent"><em class="fa fa-check"></em> Paid</badge>
          </side-nav-header>

          <mat-divider></mat-divider>

          <div>
            <mat-nav-list>
              <menu-list-item *ngFor="let item of navItems" [item]="item"></menu-list-item>
            </mat-nav-list>
          </div>
        </mat-sidenav>

        <mat-sidenav-content>
          <p>
            Navigation content
          </p>
        </mat-sidenav-content>
      </mat-sidenav-container>

      <hr/>

      <h3 class="mat-h3">Lists</h3>

      <mat-card class="dataset-card">
        <mat-card-content>
          <mat-selection-list>
            <mat-list-option *ngFor="let shoe of typesOfShoes">
              <img matListAvatar src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Photo of a Shiba Inu">

              <div matListActions>
                <button mat-fab><em class="fa fa-pencil"></em></button>
                <button mat-fab><em class="fa fa-trash"></em></button>
                <button mat-fab [matMenuTriggerFor]="titledMenu"><em class="fa fa-ellipsis-v"></em>
                </button>
              </div>

              <h4 mat-line>{{shoe}}</h4>
              <div mat-line>Short description of the item</div>
              <div mat-line>
                <badge color="accent">Payed</badge>
              </div>
            </mat-list-option>
          </mat-selection-list>
        </mat-card-content>
      </mat-card>

      <br/>

      <mat-card class="dataset-card">
        <mat-card-content>
          <mat-selection-list>
            <mat-list-option>
              <div matListActions>
                <p>
                  Text above button
                </p>

                <button mat-flat-button color="primary">Action button</button>
              </div>

              <h4 mat-line>Title<badge color="primary">Active</badge></h4>
              <div mat-line>Short description of the item</div>
            </mat-list-option>
          </mat-selection-list>
        </mat-card-content>
      </mat-card>

      <br/>

      <mat-card class="dataset-card">
        <mat-card-content>
          <mat-selection-list>
            <mat-list-option>
              <div matListActions>
                Text before button
                <button mat-flat-button color="primary">Action button</button>
              </div>

              <h4 mat-line>Title</h4>
              <div mat-line>Short description of the item</div>
            </mat-list-option>
          </mat-selection-list>
        </mat-card-content>
      </mat-card>

      <br/>

      <mat-card class="dataset-card">
        <mat-card-content>
          <mat-selection-list cdkDropList (cdkDropListDropped)="drop($event)">
            <mat-list-option cdkDrag *ngFor="let shoe of typesOfShoes">
              <div matListActions>
                Drag here

                <button mat-fab cdkDragHandle></button>
              </div>

              <h4 mat-line>{{shoe}}</h4>
              <div mat-line>Short description of the item</div>
            </mat-list-option>
          </mat-selection-list>
        </mat-card-content>
      </mat-card>

      <br/>

      <h3 class="mat-h3">Inputs</h3>

      <p>
        <mat-form-field>
          <input [disabled]="true" [placeholder]="'Disabled input'" matInput type="text"
                 [(ngModel)]="inputValue">
        </mat-form-field>

        <mat-form-field>
          <input [disabled]="true" [placeholder]="'Ready only'" matInput type="text" class="readOnly"
                 [(ngModel)]="inputValue">
        </mat-form-field>

        <mat-form-field>
          <input [disabled]="true" [placeholder]="'Disabled input'" matInput type="text"
                 [(ngModel)]="inputValue">
          <mat-hint>
            <a>Bottom link</a>
          </mat-hint>
        </mat-form-field>

        <mat-form-field>
          <input [formControl]="errorExampleFormControl" [errorStateMatcher]="errorStateMatcher"
                 [placeholder]="'Error input'" matInput type="text">

          <mat-error>
            <em class="fa fa-exclamation-circle"></em> Error message for input
          </mat-error>
        </mat-form-field>
      </p>

      <h3 class="mat-h3">Form fields with suffixes/preffixes</h3>



      <p>
        <mat-form-field>
          <input [placeholder]="'Clearable input'" matInput type="text" [(ngModel)]="inputValue"
                 [autocomplete]="'off'">
          <button mat-button *ngIf="inputValue" matSuffix mat-icon-button aria-label="Clear"
                  (click)="inputValue=''">
            <em class="fa fa-times"></em>
          </button>

          <mat-hint>Conditional suffix example</mat-hint>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Prefix + suffix example</mat-label>
          <input matInput placeholder="500" class="example-right-align">
          <span matPrefix>$&nbsp;</span>
          <span matSuffix>.00</span>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Prefix only example</mat-label>
          <input matInput type='text' placeholder="text">
          <span matPrefix>$&nbsp;</span>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Suffix only example</mat-label>
          <input matInput type='text' placeholder="text">
          <span matSuffix>kg</span>
        </mat-form-field>
      </p>

      <h3 class="mat-h3">Lists toolbar</h3>

      <mat-card class="dataset-card">
        <mat-card-content>
          <mat-selection-list>
            <mat-list-item toolbar>
              <div matLine>
                <div class="left-block">
                  <mat-form-field>
                    <input matInput placeholder="Search..."/>
                    <span matPrefix><em class="fa fa-search"></em></span>
                  </mat-form-field>
                </div>

                <div class="right-block">
                  <label class="form-field-label" (click)="matSelect.open();">Sort by:</label>

                  <mat-form-field>
                    <mat-select #matSelect>
                      <mat-option value="name">Name</mat-option>
                      <mat-option value="no-name">No Name</mat-option>
                      <mat-option value="no-no-name">No no Name</mat-option>
                    </mat-select>

                    <button mat-button matSuffix mat-icon-button aria-label="Clear"
                            (click)="$event.stopPropagation();">
                      <em class="fa fa-arrow-down"></em>
                    </button>

                  </mat-form-field>
                </div>
              </div>
            </mat-list-item>
          </mat-selection-list>
        </mat-card-content>
      </mat-card>

      <br/>

      <p>
        <button mat-flat-button color="warn" (click)="openMediumDialog();">Open medium modal</button>
        <button mat-flat-button color="warn" (click)="openFixedHeightDialog();">Open fixed-height modal</button>
        <button mat-flat-button color="warn" (click)="openWarningDialog();">Open warning modal</button>
      </p>

      <h3 class="mat-h3">Message</h3>

      <p>
        <lw-message type="info" linkText="Link text">
          This is an info message
        </lw-message>
      </p>
      <p>
        <lw-message type="success">
          This is an success message
        </lw-message>
      </p>
      <p>
        <lw-message type="error">
          This is an error message
        </lw-message>
      </p>
      <p>
        <lw-message type="warn">
          This is an warn message
        </lw-message>
      </p>

      <br/><br/>

      <h3 class="mat-h3">Tooltip</h3>

      <p>
        <button mat-flat-button
                matTooltip="Tooltip text"
                aria-label="Button that displays a tooltip when focused or hovered over">
          Hover for tooltip
        </button>
      </p>

      <br/>

      <p>
        <button mat-flat-button color="primary" (click)="sidePanel.toggle()">
          Open side panel
        </button>
      </p>

      <h3 class="mat-h3">Sectional Card</h3>

      <mat-card class="sectional-card">
        <mat-card-header>
          <mat-card-title>Title
            <badge color="primary">Status</badge>
          </mat-card-title>
          <mat-card-subtitle>Subtitle</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            <mat-form-field>
              <input [placeholder]="'Label'" matInput type="text">
              <mat-hint>Helper text</mat-hint>
            </mat-form-field>

            <mat-form-field>
              <input [placeholder]="'Label'" matInput type="text">
              <mat-hint>Helper text</mat-hint>
            </mat-form-field>

            <mat-form-field>
              <input [placeholder]="'Label'" matInput type="text">
              <mat-hint>Helper text</mat-hint>
            </mat-form-field>
          </p>

          <p>
            <mat-form-field>
              <input [placeholder]="'Label'" matInput type="text">
              <mat-hint>Helper text</mat-hint>
            </mat-form-field>

            <mat-form-field>
              <input [placeholder]="'Label'" matInput type="text">
              <mat-hint>Helper text</mat-hint>
            </mat-form-field>

            <mat-form-field>
              <input [placeholder]="'Label'" matInput type="text">
              <mat-hint>Helper text</mat-hint>
            </mat-form-field>
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-flat-button class="medium secondary">Button text</button>
          <div fxFlex></div>
          <button mat-flat-button class="medium secondary">Button text</button>
          <button mat-flat-button color="primary" class="medium">Button text</button>
        </mat-card-actions>
      </mat-card>


      <mat-card class="sectional-card">
        <mat-card-header>
          <mat-card-title>Title
            <badge color="primary">Status</badge>
          </mat-card-title>
          <mat-card-actions>
            <button mat-flat-button class="medium secondary">Button text</button>
            <button mat-flat-button color="primary" class="medium">Button text</button>
          </mat-card-actions>
          <mat-card-subtitle>Subtitle</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            <mat-form-field>
              <input [placeholder]="'Label'" matInput type="text">
              <mat-hint>Helper text</mat-hint>
            </mat-form-field>

            <mat-form-field>
              <input [placeholder]="'Label'" matInput type="text">
              <mat-hint>Helper text</mat-hint>
            </mat-form-field>

            <mat-form-field>
              <input [placeholder]="'Label'" matInput type="text">
              <mat-hint>Helper text</mat-hint>
            </mat-form-field>
          </p>

          <p>
            <mat-form-field>
              <input [placeholder]="'Label'" matInput type="text">
              <mat-hint>Helper text</mat-hint>
            </mat-form-field>

            <mat-form-field>
              <input [placeholder]="'Label'" matInput type="text">
              <mat-hint>Helper text</mat-hint>
            </mat-form-field>

            <mat-form-field>
              <input [placeholder]="'Label'" matInput type="text">
              <mat-hint>Helper text</mat-hint>
            </mat-form-field>
          </p>
        </mat-card-content>
      </mat-card>

      <h3 class="mat-h3">Empty state</h3>

      <mat-card class="empty-state">
        <mat-card-header>
          <em class="fa fa-cubes" aria-hidden="true"></em>
        </mat-card-header>
        <mat-card-content>
          <mat-card-title>No Stuff</mat-card-title>
          <p>
            Add some stuff to get started
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-flat-button class="medium secondary">Button text</button>
          <button mat-flat-button color="primary" class="medium">Button text</button>
        </mat-card-actions>
      </mat-card>

      <mat-card class="empty-state">
        <mat-card-header>
          <em class="fa fa-cubes" aria-hidden="true"></em>
        </mat-card-header>
        <mat-card-content>
          <mat-card-title>No Stuff found</mat-card-title>
          <p>
            Please check the spelling of your keywords
          </p>
        </mat-card-content>
      </mat-card>

      <mat-card class="empty-state">
        <mat-card-header>
          <em class="fa fa-cubes" aria-hidden="true"></em>
        </mat-card-header>
        <mat-card-content>
          <mat-card-title>No Stuff found in this view</mat-card-title>
          <p>
            4 results found in <a href="http://linnworks.net/" target="_blank">All stuff</a>
          </p>
        </mat-card-content>
      </mat-card>

      <h3 class="mat-h3">Accordion (Expansion Panel)</h3>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Title
            <badge color="primary">Status</badge>
          </mat-panel-title>
          <mat-panel-description>
            <button mat-flat-button class="medium secondary">Button text</button>
            <button mat-flat-button color="primary" class="medium">Button text</button>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-card-subtitle>Subtitle</mat-card-subtitle>

        <p>
          <mat-form-field>
            <input [placeholder]="'Label'" matInput type="text">
            <mat-hint>Helper text</mat-hint>
          </mat-form-field>

          <mat-form-field>
            <input [placeholder]="'Label'" matInput type="text">
            <mat-hint>Helper text</mat-hint>
          </mat-form-field>

          <mat-form-field>
            <input [placeholder]="'Label'" matInput type="text">
            <mat-hint>Helper text</mat-hint>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field>
            <input [placeholder]="'Label'" matInput type="text">
            <mat-hint>Helper text</mat-hint>
          </mat-form-field>

          <mat-form-field>
            <input [placeholder]="'Label'" matInput type="text">
            <mat-hint>Helper text</mat-hint>
          </mat-form-field>

          <mat-form-field>
            <input [placeholder]="'Label'" matInput type="text">
            <mat-hint>Helper text</mat-hint>
          </mat-form-field>
        </p>

        <mat-card-subtitle>Subtitle</mat-card-subtitle>

        <p>
          <mat-form-field>
            <input [placeholder]="'Label'" matInput type="text">
            <mat-hint>Helper text</mat-hint>
          </mat-form-field>

          <mat-form-field>
            <input [placeholder]="'Label'" matInput type="text">
            <mat-hint>Helper text</mat-hint>
          </mat-form-field>

          <mat-form-field>
            <input [placeholder]="'Label'" matInput type="text">
            <mat-hint>Helper text</mat-hint>
          </mat-form-field>
        </p>

      </mat-expansion-panel>

      <h3 style="margin: 16px 0;" class="mat-h3">Totast message</h3>

      <button mat-flat-button class="medium secondary" (click)="openSnackBar()">open snackBar</button>

      <button mat-flat-button class="medium secondary" (click)="openSnackBar1()">open snackBar</button>

      <button mat-flat-button class="medium secondary" (click)="openSnackBar2()">open snackBar</button>

      <button mat-flat-button class="medium secondary" (click)="openSnackBar3()">open snackBar</button>

      <br/>

      <h3 style="margin: 16px 0;" class="mat-h3">new method for snackBarService</h3>

      <button mat-flat-button class="medium secondary" (click)="openSuccessMessage()">open success Message</button>

      <button mat-flat-button class="medium secondary" (click)="openErrorMessage()">open error Message</button>

      <button mat-flat-button class="medium secondary" (click)="openWarnMessage()">open warn Message</button>

      <button mat-flat-button class="medium secondary" (click)="openInfoMessage()">open info Message</button>

      <br/>

      <h3 class="mat-h3">Default tabs</h3>

      <mat-tab-group>
        <mat-tab label="Active"> Content 1</mat-tab>
        <mat-tab label="Inactive"> Content 2</mat-tab>
        <mat-tab label="Disabled" disabled> Content 3</mat-tab>
        <mat-tab label="Inactive"> Content 3</mat-tab>
      </mat-tab-group>

      <h3 style="margin: 16px 0;" class="mat-h3">Tabs with counter badges</h3>

      <mat-tab-group>
        <mat-tab>
          <ng-template mat-tab-label>
            <badge>34</badge>
            <span>Active</span>
          </ng-template>
          Content 1
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <badge>22</badge>
            <span>Inactive</span>
          </ng-template>
          Content 2
        </mat-tab>
        <mat-tab disabled>
          <ng-template mat-tab-label>
            <badge>22</badge>
            <span>Disabled</span>
          </ng-template>
          Content 3
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <badge>9</badge>
            <span>Inactive</span>
          </ng-template>
          Content 4
        </mat-tab>
      </mat-tab-group>

      <h3 style="margin: 16px 0;" class="mat-h3">Tabs with warning badges</h3>

      <mat-tab-group>
        <mat-tab label="Active"> Content 1</mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <span>Inactive</span>
            <badge [color]="'warn'"><em class="fa fa-warning"></em></badge>
          </ng-template>
          Content 2
        </mat-tab>
        <mat-tab label="Disabled" disabled> Content 3</mat-tab>
        <mat-tab label="Inactive"> Content 3</mat-tab>
      </mat-tab-group>

      <h3 style="margin: 16px 0;" class="mat-h3">Tabs with dropdown</h3>

      <mat-tab-group>
        <mat-tab label="Active"> Content 1</mat-tab>
        <mat-tab label="Inactive"> Content 2</mat-tab>
        <mat-tab label="Disabled" disabled> Content 3</mat-tab>
        <mat-tab label="Inactive"> Content 3</mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <tab-dropdown-button [menuId]="tabsDropdown"> More</tab-dropdown-button>
          </ng-template>
          Content 5
        </mat-tab>
      </mat-tab-group>

      <h3 style="margin: 16px 0;" class="mat-h3">Tabs with link (nav bar)</h3>

      <nav mat-tab-nav-bar>
        <a mat-tab-link *ngFor="let link of links"
           (click)="activeLink = link"
           [active]="activeLink == link"> {{link}} </a>
        <a mat-tab-link disabled>Disabled Link</a>
      </nav>

      <button mat-flat-button class="medium secondary" (click)="addLink()">Add link</button>

      <h3 style="margin: 16px 0;" class="mat-h3">Tab group with dynamically changing tabs</h3>

      <mat-tab-group>
        <mat-tab *ngFor="let tab of tabs; let index = index" [label]="tab">
          Contents for {{tab}} tab

          <button mat-flat-button class="medium secondary"
                  [disabled]="tabs.length === 1"
                  (click)="removeTab(index)">
            Delete Tab
          </button>
        </mat-tab>
      </mat-tab-group>

      <button mat-flat-button class="medium secondary"
              (click)="addTab()">
        Add new tab
      </button>

      <h3 style="margin: 16px 0;" class="mat-h3">Spinner</h3>
      <mat-progress-spinner
        [color]="'warn'"
        [mode]="'indeterminate'"
        [diameter]=23>
      </mat-progress-spinner>

      <br/>

      <h3 class="mat-h3">Breadcrumbs</h3>
      <a lwBreadcrumb href="http://linnworks.net/" target="_blank">Breadcrumbs</a>

      <h3 class="mat-h3">Avatar</h3>
      <lw-avatar [size]="'medium'" [shape]="'round'" [name]="'Linnworks Plus'"></lw-avatar>
      <lw-avatar [size]="'large'" [shape]="'round'" [name]="'Linnworks Plus'"></lw-avatar>
      <lw-avatar [size]="'medium'" [shape]="'round'" [imgUrl]="'https://material.angular.io/assets/img/examples/shiba1.jpg'"></lw-avatar>
      <lw-avatar [size]="'large'" [shape]="'round'" [imgUrl]="'https://material.angular.io/assets/img/examples/shiba1.jpg'"></lw-avatar>
      <lw-avatar [size]="'medium'" [shape]="'square'" [imgUrl]="'https://material.angular.io/assets/img/examples/shiba1.jpg'"></lw-avatar>
      <lw-avatar [size]="'large'" [shape]="'square'" [imgUrl]="'https://material.angular.io/assets/img/examples/shiba1.jpg'"></lw-avatar>
      <lw-avatar [size]="'medium'" ></lw-avatar>
      <lw-avatar [size]="'large'" ></lw-avatar>

      <h3 class="mat-h3">Mat expansion panel inside mat list component</h3>

      <div class="accordionInMatListExample">
        <mat-list role="list">
          <mat-list-item toolbar role="listitem" class="matListWithExpansionPanel">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <div class="titleAndDescriptionWrapper">
                  <mat-panel-title>
                    Purchase order:
                  </mat-panel-title>
                  <mat-panel-description>
                    <mat-slide-toggle [(ngModel)]="toggleValue" clickStopPropagation>
                    </mat-slide-toggle>
                  </mat-panel-description>
                </div>
                <div class="alignLeft">
                  <label>
                    Status:
                  </label>
                  <mat-form-field>
                    <mat-select [formControl]="toppingsControl">
                      <mat-option *ngFor="let topping of toppingList"
                                  [value]="topping">{{topping}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="alignLeft">
                  <label>
                    Supplier:
                  </label>
                  <mat-form-field>
                    <mat-select [formControl]="toppingsControl">
                      <mat-option *ngFor="let topping of toppingList"
                                  [value]="topping">{{topping}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="alignLeft">
                  <label>
                    Location:
                  </label>
                  <mat-form-field>
                    <mat-select [formControl]="toppingsControl">
                      <mat-option *ngFor="let topping of toppingList"
                                  [value]="topping">{{topping}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </mat-expansion-panel-header>
              <hr>
              <div class="expansionPanelTitle">
                <label>
                  View PO details:
                </label>
                <mat-slide-toggle [(ngModel)]="toggleValue">
                </mat-slide-toggle>
              </div>
              <div class="alignLeft">
                <label>
                  Status:
                </label>
                <mat-form-field>
                  <mat-select [formControl]="toppingsControl">
                    <mat-option *ngFor="let topping of toppingList"
                                [value]="topping">{{topping}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="alignLeft">
                <label>
                  Supplier:
                </label>
                <mat-form-field>
                  <mat-select [formControl]="toppingsControl">
                    <mat-option *ngFor="let topping of toppingList"
                                [value]="topping">{{topping}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="alignLeft">
                <label>
                  Location:
                </label>
                <mat-form-field>
                  <mat-select [formControl]="toppingsControl">
                    <mat-option *ngFor="let topping of toppingList"
                                [value]="topping">{{topping}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <hr>
              <div class="expansionPanelTitle">
                <label>
                  Edit POs:
                </label>
                <mat-slide-toggle [(ngModel)]="toggleValue">
                </mat-slide-toggle>
              </div>
              <div class="alignLeft">
                <label>
                  Status:
                </label>
                <mat-form-field>
                  <mat-select [formControl]="toppingsControl">
                    <mat-option *ngFor="let topping of toppingList"
                                [value]="topping">{{topping}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="alignLeft">
                <label>
                  Supplier:
                </label>
                <mat-form-field>
                  <mat-select [formControl]="toppingsControl">
                    <mat-option *ngFor="let topping of toppingList"
                                [value]="topping">{{topping}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="alignLeft">
                <label>
                  Location:
                </label>
                <mat-form-field>
                  <mat-select [formControl]="toppingsControl">
                    <mat-option *ngFor="let topping of toppingList"
                                [value]="topping">{{topping}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </mat-expansion-panel>
          </mat-list-item>
          <mat-list-item toolbar role="listitem" class="matListWithExpansionPanel">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <div class="titleAndDescriptionWrapper">
                  <mat-panel-title>
                    Purchase order:
                  </mat-panel-title>
                  <mat-panel-description>
                    <mat-slide-toggle [(ngModel)]="toggleValue" clickStopPropagation>
                    </mat-slide-toggle>
                  </mat-panel-description>
                </div>
                <div class="alignLeft">
                  <label>
                    Status:
                  </label>
                  <mat-form-field>
                    <mat-select [formControl]="toppingsControl" >
                      <mat-option *ngFor="let topping of toppingList"
                                  [value]="topping">{{topping}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="alignLeft">
                  <label>
                    Supplier:
                  </label>
                  <mat-form-field>
                    <mat-select [formControl]="toppingsControl" >
                      <mat-option *ngFor="let topping of toppingList"
                                  [value]="topping">{{topping}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </mat-expansion-panel-header>
              <hr>
              <div class="expansionPanelTitle">
                <label>
                  View PO details:
                </label>
                <mat-slide-toggle [(ngModel)]="toggleValue">
                </mat-slide-toggle>
              </div>
              <div class="alignLeft">
                <label>
                  Status:
                </label>
                <mat-form-field>
                  <mat-select [formControl]="toppingsControl" >
                    <mat-option *ngFor="let topping of toppingList"
                                [value]="topping">{{topping}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="alignLeft">
                <label>
                  Supplier:
                </label>
                <mat-form-field>
                  <mat-select [formControl]="toppingsControl" >
                    <mat-option *ngFor="let topping of toppingList"
                                [value]="topping">{{topping}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="alignLeft">
                <label>
                  Location:
                </label>
                <mat-form-field>
                  <mat-select [formControl]="toppingsControl">
                    <mat-option *ngFor="let topping of toppingList"
                                [value]="topping">{{topping}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </mat-expansion-panel>
          </mat-list-item>
        </mat-list>
      </div>

      <h3 class="mat-h3">grid system</h3>

      <!--        use fxLayoutGap without assign any value will use default gutter value 16px and 8px in case of small screen-->

      <div class="content">
        <div  fxLayout="row wrap" fxLayoutGap>
          <div fxFlex.lg="25%" fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="33%" *ngFor="let num of [1,2,3,4,5,6,7,8]">
            <div class="gridItem">
              item
            </div>
          </div>
        </div>
      </div>

      <h3 class="mat-h3">Pagination</h3>

      <mat-form-field>
        <mat-label>List length</mat-label>
        <input matInput [(ngModel)]="length" type="number">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Page size</mat-label>
        <input matInput [(ngModel)]="pageSize" type="number">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Page size options</mat-label>
        <input matInput [ngModel]="pageSizeOptions" (ngModelChange)="setPageSizeOptions($event)"
               [ngModelOptions]="{updateOn: 'blur'}" placeholder="Ex. 10,25,50">
      </mat-form-field>

      <mat-paginator [length]="length"
                     [pageSize]="pageSize"
                     [pageSizeOptions]="pageSizeOptions"
                     (page)="pageEvent = $event">
      </mat-paginator>

      <div *ngIf="pageEvent">
        <h5>Page Change Event Properties</h5>
        <div>List length: {{pageEvent.length}}</div>
        <div>Page size: {{pageEvent.pageSize}}</div>
        <div>Page index: {{pageEvent.pageIndex}}</div>
      </div>
    </div>

    <div class="important-notes">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Important:</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <ul>
            <li>
              We do not use &lt;mat-icon&gt;&lt;/mat-icon&gt; (use fontawesome as before)
            </li>
          </ul>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-drawer-content>
</mat-drawer-container>

<mat-menu #tabsDropdown="matMenu">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
  <button mat-menu-item>Item 3</button>
</mat-menu>


<mat-menu #titledMenu="matMenu">
  <h6>Title</h6>

  <button mat-menu-item disabled><em class="fa fa-times"></em> Remove item</button>
  <button mat-menu-item><em class="fa fa-times"></em> Remove item</button>
  <button mat-menu-item><em class="fa fa-pencil"></em> Vertebrates</button>
  <mat-divider></mat-divider>
  <button mat-menu-item>Invertebrates</button>
</mat-menu>


<mat-menu #animals="matMenu">
  <button mat-menu-item disabled><em class="fa fa-times"></em> Remove item</button>
  <button mat-menu-item><em class="fa fa-times"></em> Remove item</button>
  <button mat-menu-item [matMenuTriggerFor]="vertebrates"><em class="fa fa-pencil"></em> Vertebrates</button>
  <mat-divider></mat-divider>
  <button mat-menu-item [matMenuTriggerFor]="invertebrates">Invertebrates</button>
</mat-menu>

<mat-menu #vertebrates="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="fish">Fishes</button>
  <button mat-menu-item [matMenuTriggerFor]="amphibians">Amphibians</button>
  <button mat-menu-item [matMenuTriggerFor]="reptiles">Reptiles</button>
  <button mat-menu-item>Birds</button>
  <button mat-menu-item>Mammals</button>
</mat-menu>

<mat-menu #invertebrates="matMenu">
  <button mat-menu-item>Insects</button>
  <button mat-menu-item>Molluscs</button>
  <button mat-menu-item>Crustaceans</button>
  <button mat-menu-item>Corals</button>
  <button mat-menu-item>Arachnids</button>
  <button mat-menu-item>Velvet worms</button>
  <button mat-menu-item>Horseshoe crabs</button>
</mat-menu>

<mat-menu #fish="matMenu">
  <button mat-menu-item>Baikal oilfish</button>
  <button mat-menu-item>Bala shark</button>
  <button mat-menu-item>Ballan wrasse</button>
  <button mat-menu-item>Bamboo shark</button>
  <button mat-menu-item>Banded killifish</button>
</mat-menu>

<mat-menu #amphibians="matMenu">
  <button mat-menu-item>Sonoran desert toad</button>
  <button mat-menu-item>Western toad</button>
  <button mat-menu-item>Arroyo toad</button>
  <button mat-menu-item>Yosemite toad</button>
</mat-menu>

<mat-menu #reptiles="matMenu">
  <button mat-menu-item>Banded Day Gecko</button>
  <button mat-menu-item>Banded Gila Monster</button>
  <button mat-menu-item>Black Tree Monitor</button>
  <button mat-menu-item>Blue Spiny Lizard</button>
  <button mat-menu-item disabled>Velociraptor</button>
</mat-menu>

<ng-template #mediumDialogTemplate>
  <h1 mat-dialog-title (onResized)="modalResized($event)">Favorite Animal</h1>

  <mat-dialog-content widthType="medium">
    What is Lorem Ipsum?
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
    standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
    a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
    remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
    Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
    of Lorem Ipsum.
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <mat-checkbox>
      Don't show me again
    </mat-checkbox>

    <span fxFlex></span>

    <button mat-flat-button mat-dialog-close>Close</button>
    <button mat-flat-button color="primary" mat-dialog-close cdkFocusInitial>Submit</button>
  </mat-dialog-actions>
</ng-template>


<ng-template #fixedHeightDialogTemplate>
  <h1 mat-dialog-title>Favorite Animal</h1>

  <mat-dialog-content height="500px" widthType="medium">
    What is Lorem Ipsum?
    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
    when an unknown printer took a galley of type and scrambled it to make a type
    specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
    remaining essentially unchanged. It was popularised in the 1960s with the release of
    Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
    software like Aldus PageMaker including versions of Lorem Ipsum.

    What is Lorem Ipsum?
    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
    when an unknown printer took a galley of type and scrambled it to make a type
    specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
    remaining essentially unchanged. It was popularised in the 1960s with the release of
    Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
    software like Aldus PageMaker including versions of Lorem Ipsum.

    What is Lorem Ipsum?
    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
    when an unknown printer took a galley of type and scrambled it to make a type
    specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
    remaining essentially unchanged. It was popularised in the 1960s with the release of
    Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
    software like Aldus PageMaker including versions of Lorem Ipsum.
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <mat-checkbox>
      Don't show me again
    </mat-checkbox>

    <span fxFlex></span>

    <button mat-flat-button mat-dialog-close>Close</button>
    <button mat-flat-button color="primary" mat-dialog-close cdkFocusInitial>Submit</button>
  </mat-dialog-actions>
</ng-template>


<ng-template #warningDialogTemplate>
  <h1 mat-dialog-title [expandable]="false"><em class="fa fa-warning"></em>Are you sure?</h1>

  <mat-dialog-content widthType="medium" color="warn">
    Are you sure?
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-flat-button mat-dialog-close>Close</button>
    <button mat-flat-button color="warn" mat-dialog-close cdkFocusInitial>Confirm</button>
  </mat-dialog-actions>
</ng-template>
