.well {
  padding-left: 100px;
  overflow-y: scroll;
}

p > *:not(:first-child) {
  margin-left: 15px;
}

.example-card {
  max-width: 300px;
  display: inline-block;
}

.example-card + .example-card {
  margin-left: 15px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.example-chip-list {
  width: 100%;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  text-align: right;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}

.row-fluid > [class^='span']:first-child {
  border-right: 1px black solid;
}

:host-context(.tab-pane.active) .scroll-to-top {
  position: fixed;
}

.scroll-to-top {
  position: relative;
  top: calc(100% - 70px);
  right: 60px;
  z-index: 2;

  transition: opacity ease 500ms;
}

.toggle-legacy-tests {
  position: relative;
  top: 90px;
  right: 60px;
}

.toggle-drafts {
  position: relative;
  top: 135px;
  right: 60px;
}

.mat-drawer-container,
.mat-drawer-content {
  height: 100%;
}

.hidden-button {
  opacity: 0;
  pointer-events: none;
}

ul {
  list-style: none;
}

.important-notes {
  position: absolute;
  width: 400px;
  height: 100px;
  top: 5px;
  right: 267px;
}

.example-side-nav {
  height: 350px;
  width: 800px;
  //border: 1px solid black;
}

.dataset-card {
  width: 800px;
}

.accordionInMatListExample {
  background-color: white;
  width: 740px;
}

.content {
  border:1px solid red;
  padding: 16px;
  margin: 20px 0;
}

.gridItem {
  background-color: green;
  width: 100%;
  height: 50px;
}
