/* You can add global styles to this file, and also import other style files */

@import "~font-awesome/css/font-awesome.css";
@import '~opensans-npm-webfont/style.scss';
@import '~@linnworks/design-system/styles/lw-material-theme.scss';

p > *:not(:first-child) {
  margin-left: 15px;
}

body {
  font-family: "Open Sans", serif;
}

.example-side-nav {
  height: 350px;
  width: 800px;
  border: 1px solid black;
}
